//
// Icon buttons
//

// General styles

.btn {
    position: relative;
    text-transform: $btn-text-transform;
    transition: $transition-base;
    letter-spacing: $btn-letter-spacing;
    font-size: $input-btn-font-size;
    will-change: transform;

    &:hover {
        @include box-shadow($btn-hover-box-shadow);
        transform: translateY($btn-hover-translate-y);
    }

    &:not(:last-child) {
        margin-right: .5rem;
    }

   // Icons

    i:not(:first-child),
    svg:not(:first-child) {
        margin-left: .5rem;
    }

    i:not(:last-child),
    svg:not(:last-child) {
        margin-right: .5rem;
    }
}


// Remove translateY and margin animation when btn is included in a btn-group or input-group

.btn-group,
.input-group {
    .btn {
        margin-right: 0;
        transform: translateY(0);
    }
}


// Size variations

.btn-sm {
    font-size: $input-btn-font-size-sm;
}

.btn-lg {
    font-size: $input-btn-font-size-lg;
}


// Some quick fixes (to revise)

// Fixes
[class*="btn-outline-"] {
    border-width: 1px;
}

.btn-outline-secondary {
    color: darken(theme-color("secondary"), 50%);
}

.btn-inner--icon {
    i:not(.fas):not(.fab) {
        position: relative;
        top: 2px;
    }
}

.logo-login {
    width: 250px;
    height: 190px;
}

.logo-position {
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.btn-link {
    font-weight: $btn-font-weight;
    box-shadow: none;

    &:hover {
        box-shadow: none;
        transform: none;
    }
}

.signin-button {
    background-color: #fc0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    height: 3rem;
    width: 100px !important;
    padding: 0 1.5rem;
    border-radius: 7px;
    line-height: calc(3rem - 2px);
    text-align: center;
    text-decoration: none;
    transition: .35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.reset-button {
    background-color: #fc0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    height: 3rem;
    width: 207px !important;
    padding: 0 1.5rem;
    border-radius: 7px;
    line-height: calc(3rem - 2px);
    text-align: center;
    text-decoration: none;
    transition: .35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.other-login {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.create-account {
    margin-top: 20px;
}

.info-login {
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    font-size: 0.875rem;
    color: #424242;
}

.btn-neutral {
    color: theme-color("primary");
}

.login-account {
    background-color: white;
    border: 1px solid #10162F;
    padding: 12px
}

.footer-auth {
    position: relative!important;
    top: 80px
}

@media only screen and (max-width: 1700px) {
    .footer-auth {
        position: relative!important;
        top: 20px
    }
}