.accordion-title {
  font-size: 1.42rem !important;
  font-weight: 600 !important;
  padding: 1.25rem 40px;
}

.accordion-mini-title {
  padding: 0.5rem 40px;
  font-size: 1.15rem !important;
}

.accordion-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.align-center {
  display: flex;
  align-items: center;
}