.box-profile {
  height: 100px;
  width: 100%;
  border: 1px solid black !important
}

.menu-padding {
  padding: 1.25rem 50px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.menu-title {
  font-size: 1.42rem !important;
  font-weight: 600 !important;
}

.mini-part {
  padding: 1.25rem 0rem;
}

.space-title {
  margin: 0 20px
}